.carousel-caption{
    transform: translate(-50%, -30%);
    left: 50%;
}
.carousel-inner{
    position: relative;
}
.overlay{
    position: absolute;
    inset: 0 !important;
    background-color: rgba(0, 0, 0, 0.6);
}
.article-card h4{
    font-size: 18px;
}
.article-card p{
    text-align: center!important;
}
.date{
    position:absolute;
    bottom: 5%;
    right: 3%;
}
