.carousel-item .carousel-caption{
    transform: translate(-50%, -30%)!important;
    left: 50%!important;
}
.carousel-inner{
    position: relative;
}
.overlay{
    position: absolute;
    inset: 0 !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.location-card:hover{
    background-color:  rgb(111 207 186); 
    color: white;
    position: absolute;
    top: 20%;
    
    width: 28%!important;
}
.location-card:hover .icon i{
   
    color: white!important;
   
}
